*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/background-video.mp4');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: "Coiny", sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: #9a3da7;
    font-family: "Coiny", sans-serif;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
  }

.header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 10px;
}

.header .logo a img{
    border-radius: 50%;
    height: 54px;
    width: 54px;
    border: 1px solid;
}
.buy-now{
    border: none;
    background: none;
}

.buy-now a{
    padding: 11px;
    font-size: 19px;
    font-weight: 800;
    background-color: white;
    border-radius: 15px;
}

.first-screen-wrapper{
    padding: 25px 0;
}

.first-screen{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.first-screen-info{
    text-align: start;
    padding: 10px;
}

.first-screen-header{
    font-size: 95px;
    margin-bottom: 15px;
}

.first-screen-text{
    width: 500px;
    font-size: 40px;  
    margin-bottom: 15px;
    word-wrap: break-word;
}

.first-screen-links{
    display: flex;
    gap: 20px;
}

.first-screen-info button.buy-now{
    color: white;
    border-radius: 15px;
    margin-bottom: 5px;
    
}

.first-screen-img img{
    width: 420px;
    height: 473px;
}

.socials{
    display: flex;
    gap: 15px;
}

.socials .social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials .social a img{
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 15px;
}

.running-text{
    font-size: 40px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    color: white;
}

#twitch-embed{
    padding: 30px 0;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    padding: 50px 0;
    color: black;
}

.info .info-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info .info-content .info-content-img{
    margin-bottom: 30px;
}

.info .info-content .info-content-img img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid #7b7b7b;
}

.info .info-content .info-content-header{
    font-size: 57px;
    margin-bottom: 10px;
}

.info .info-content .info-content-text{
    font-size: 35px;
}

.footer-wrapper{
    padding: 10px 0;
    background-color: #e1c4ff;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.footer .footer-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .footer-info .footer-img img{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.footer .footer-info .buy-now a{
    padding: 8px;
}
