*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: "Coiny", sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: #9a3da7;
    font-family: "Coiny", sans-serif;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}
.buy-now{
    border: none;
    background: none;
}

.buy-now a{
    padding: 11px;
    font-size: 19px;
    font-weight: 800;
    background-color: white;
    border-radius: 15px;
}

.first-screen-wrapper{
    padding: 25px 0;
}

.first-screen{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.first-screen-info{
    text-align: start;
    padding: 10px;
}

.first-screen-header{
    font-size: 95px;
    margin-bottom: 15px;
}

.first-screen-text{
    width: 500px;
    font-size: 28px;  
    margin-bottom: 15px;
    word-wrap: break-word;
}

.first-screen-links{
    display: flex;
    gap: 20px;
}

.first-screen-info button.buy-now{
    color: white;
    border-radius: 15px;
    margin-bottom: 5px;
    
}

.first-screen-img img{
    width: 420px;
    height: 473px;
}

.socials{
    display: flex;
    gap: 15px;
}

.socials .social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials .social a img{
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 15px;
}

.running-text{
    font-size: 50px;
    color: white;
}

.glow-text-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.glow::before, glow::after{
    content:'';
    position: absolute;
    left: -2px;
    top: -10px;
    background: linear-gradient(45deg, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: 100%;
    height: calc(100% + 20px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
}

#twitch-embed{
    padding: 30px 0;
    position: relative;
}


#twitch-embed .bg-video-two{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}
.info-wrapper{
    background-image: url('../images/vecteezy_gradient-abstract-background-purple-blue-and-black_32313689.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.info{
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    padding: 50px 0;
    color: white;
}

.info .info-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info .info-content .info-content-img{
    margin-bottom: 30px;
}

.info .info-content .info-content-img img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid #7b7b7b;
}

.info .info-content .info-content-header{
    font-size: 57px;
    margin-bottom: 10px;
}

.info .info-content .info-content-text{
    font-size: 35px;
}

.footer-wrapper{
    padding: 10px 0;
    background-image: url('../images/vecteezy_gradient-abstract-background-purple-blue-and-black_32313689.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.footer .footer-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .footer-info .footer-img img{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.footer .footer-info .buy-now a{
    padding: 8px;
}
